.accueil_global_container{
    background-image:url('../../utils/images/home_background.png');
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    position: relative;
}

.accueil_phone_image{
    height:100%;
    position:absolute;
    bottom:0;
    right:10%;
}

.accueil_white_logo{
    margin-top:20px;
    margin-left:20px;
}

.accueil_informations_container{
    position:absolute;
    top:45%;
    left:200px;
    transform: translate(0,-50%)
}

.accueil_informations_title{
    font-weight:bold;
    display:block;
    font-size:25px;
    color:white;
    margin-bottom:20px;
}

.accueil_informations_text{
    color:white;
    font-weight:bold;
    font-size:13px;
    margin-bottom:30px;
}

.accueil_google_button{
    color:white;
    text-decoration: none;
    background-color: #e2712d;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
    font-size:13px;
    font-weight:bold;
    padding:10px 25px;
    margin-top:20px;
    border-radius:5px;
}