.center_pannel_container{
    position:absolute;
    background-color:white;
    min-height:80%;
    width:45%;
    -webkit-box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    -moz-box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    bottom:0;
    left:50%;
    transform: translate(-50%);
    z-index:10;
}

.center_pannel_grey_top_bar{
    height:50px;
    background-color:#d6d6d6;
    position:relative;
}

.center_pannel_list_name{
    font-size:13px;
    padding:0 0 0 20px;
    margin:0;
    height:50px;
    display:inline-block;
    line-height:50px;
    font-weight:bold;
    color:rgb(44, 44, 44)
}

.center_pannel_add_task_button{
    color:white;
    position:absolute;
    right:20px;
    top:50%;
    transform: translate(0,-50%);
    border:none;
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    padding:5px 10px 5px 25px;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    font-size:13px;
}

.center_pannel_add_task_plus_icon{
    position:absolute;
    left:10px;
    top:50%;
    transform: translate(0,-40%);
    width:10px;
}

.center_pannel_no_list_selected_text{
    position:absolute;
    color:rgb(85, 85, 85);
    width:100%;
    text-align:center;
    top:50%;
    transform: translate(0,-50%)
}

.center_pannel_no_task_selected_elements_container{
    position:absolute;
    top:50%;
    transform: translate(0,-50%);
    width:100%;
}

.center_pannel_no_task_selected_text{
    color:rgb(85, 85, 85);
    text-align:center;
    display:block;
}

.center_pannel_no_task_selected_button{
    color:white;
    margin-top:15px;
    border:none;
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    padding:5px 10px 5px 25px;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    font-size:13px;
    position:relative;
    margin-left:50%;
    transform: translate(-50%)
}

.center_pannel_task_container{
    width: 100%;
    border-bottom:1px solid rgb(190, 190, 190);
    height:60px;
    max-height: 60px;
    display: flex;
    position: relative;
    z-index: 11;
    cursor:pointer;
}

.center_pannel_task_name{
    height: 60px;
    line-height:63px;
    margin-left:20px;
    display:inline-block;
    color:rgb(90, 90, 90);
    font-size:12px;
}

.center_pannel_not_done_task_circle{
    height:20px;
    width:20px;
    background-color:white;
    border:2px solid #b32337;
    border-radius: 50%;
    margin-top:20px;
    margin-left:20px;
    display: inline-block;
}

.center_pannel_done_task_circle{
    height:20px;
    width:20px;
    background-color:#b32337;
    border:2px solid #b32337;
    border-radius: 50%;
    margin-top:20px;
    margin-left:20px;
    display: inline-block;
}

.center_pannel_delete_task_cross{
    position: absolute;
    right:25px;
    top:50%;
    transform: translate(0,-50%);
    cursor:pointer;
    width:10px;
}

.center_pannel_done_task_button{
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    padding:10px 40px;
    color:white;
    position:absolute;
    box-shadow:  0px 0px 35px 0px rgba(32, 32, 32, 0.58);
    font-weight:bold;
    font-size:12px;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    bottom:50px;
    left:50%;
    transform: translate(-50%);
    z-index:15;
}
