.add_task_modal_background{
    background: rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:100;
}

.add_task_modal_container{
    background-color:#b32337;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:40px;
    border-radius: 15px;
    width:600px;
}

.add_task_modal_title{
    color:white;
    font-size:25px;
    font-weight: bold;
    display: block;
    margin-bottom:40px;
}

.add_task_modal_input_container{
    display:inline-block;
    position:relative;
}

.add_task_modal_input{
    background-color:transparent;
    border:none;
    border-bottom:1px solid white;
    color:white;
    height:30px;
    display:inline-block;
    margin-right:20px;
    font-size:15px;
    width:150px;
}

.add_task_modal_input:focus {
    border-bottom:2px solid white;
}

.add_task_modal_input:focus{
    outline-width: 0px;
}

#add_task_modal_name::before,#add_task_modal_description::before,#add_task_modal_date::before{
    position:absolute;
    bottom:100%;
    color:white;
    font-size:12px;
    font-weight:bold;
}

#add_task_modal_name::before{
    content:"NOM"
}

#add_task_modal_description::before{
    content:"DESCRIPTION"
}

#add_task_modal_date::before{
    content:"DATE"
}

.add_task_modal_date{
    border:none;
}

.add_task_modal_buttons_container{
    float:right;
    margin-top:70px;
}

.add_task_modal_buttons{
    color:white;
    background:none;
    font-weight:bold;
    font-size:16px;
    border:none;
    cursor:pointer;
}

.add_task_modal_buttons:hover{
    text-decoration: underline
}

.add_task_modal_buttons:disabled{
    color:rgb(187, 187, 187)
}

.add_task_modal_buttons:disabled:hover{
    text-decoration: none;
}