.dashboard_left_pannel{
    height:calc(80% - 60px);
    background-color:white;
    position:absolute;
    left:0;
    bottom:60px;
    width:calc(55% / 2 - 50px);
    -webkit-box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    -moz-box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    z-index:11;
    transition: 0.5s;
}

.left_pannel_grey_top_bar{
    height:50px;
    background-color:#d6d6d6;
    position:relative;
}

.left_pannel_title{
    font-size:13px;
    padding:0 0 0 20px;
    margin:0;
    height:50px;
    display:inline-block;
    line-height:50px;
    font-weight:bold;
    color:rgb(44, 44, 44)
}

.left_pannel_moove_pannel_arrow_left{
    width:12px;
    position:absolute;
    right:25px;
    top:50%;
    transform: translate(0,-50%);
    cursor:pointer;
}

.left_pannel_list_container{
    width: 100%;
    border:none;
    border-bottom:1px solid rgb(190, 190, 190);
    height:60px;
    max-height: 60px;
    display: flex;
    position: relative;
    z-index: 11;
    cursor:pointer;
    background-color:white;
    
}

.left_pannel_list_container:focus{
    outline-width: 0px;
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
}

.left_pannel_list_container:focus > .left_pannel_list_name{
    color:white;
    font-weight:bold;
}

.left_pannel_list_container:focus > .left_pannel_delete_list_button_white{
    display: inline-block
}

.left_pannel_list_name{
    height: 60px;
    line-height:63px;
    margin-left:20px;
    display:inline-block;
    color:rgb(90, 90, 90);
    font-size:12px;
}

.left_pannel_delete_list_button,.left_pannel_delete_list_button_white{
    position: absolute;
    right:25px;
    top:50%;
    transform: translate(0,-50%);
    cursor:pointer;
    width:10px;
}

.left_pannel_delete_list_button_white{
    display:none;
}

.left_pannel_add_list_button{
    position:absolute;
    width:100%;
    color:white;
    font-size:12px;
    font-weight:bold;
    top:100%;
    height:60px;
    border:none;
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    cursor:pointer;
}

.left_little_container{
    height:180px;
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    position:absolute;
    top:20%;
    left:0;
    z-index:5;
    width:50px;
}

.left_little_pannel_icon_right_arrow{
    width:11px;
    position:absolute;
    left:47%;
    transform: translate(-50%);
    top:22px;
    cursor: pointer;
}

.left_little_pannel_icon_plus_white{
    width:17px;
    position:absolute;
    left:48%;
    transform: translate(-50%,-50%);
    top:51%;
    cursor: pointer;
}

.left_little_pannel_icon_poubelle{
    width:17px;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    bottom:25px;
    cursor: pointer;
}

.left_pannel_no_list_text{
    position:absolute;
    width:100%;
    color:#4d4d4d;
    font-size:12px;
    top:50%;
    transform: translate(0,-50%);
    text-align: center
}