.delete_list_modal_background{
    background: rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:100;
}

.delete_list_modal_container{
    background-color:#b32337;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:40px;
    border-radius: 15px;
    width:400px;
}

.delete_list_modal_title{
    font-size:17px;
    font-weight:bold;
    color:white;
    margin-bottom:20px;
}

.delete_list_modal_text{
    font-size:14px;
    color:white;
}

.delete_list_modal_buttons_container{
    float:right;
    margin-top:40px;
}

.delete_list_modal_button{
    color:white;
    background:none;
    font-weight:bold;
    font-size:16px;
    border:none;
    cursor:pointer;
    cursor: pointer;
}

.delete_list_modal_button:focus{
    outline-width: 0px;
}