.add_list_modal_background{
    background: rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:100;
}

.add_list_modal_container{
    background-color:#b32337;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:40px;
    border-radius: 15px;
    width:400px;
}

.add_list_modal_title{
    color:white;
    font-size:25px;
    font-weight: bold;
    display: block;
    margin-bottom:40px;
}

.add_list_input_container{
    position:relative;
}

.add_list_modal_input{
    background-color:transparent;
    border:none;
    border-bottom:1px solid white;
    color:white;
    height:30px;
    margin-right:20px;
    font-size:15px;
    display:block;
    width:100%;
}

.add_list_modal_input:focus{
    outline-width: 0px;
    border-bottom:2px solid white;
}

.add_list_modal_input::placeholder{
    color:white;
}

#add_list_modal_name::before{
    content:"NOM";
    position:absolute;
    bottom:100%;
    color:white;
    font-size:12px;
    font-weight:bold;
}

.add_list_buttons_container{
    float:right;
    margin-top:70px;
}

.add_list_modal_button{
    color:white;
    background:none;
    font-weight:bold;
    font-size:16px;
    border:none;
    cursor:pointer;
}

.add_list_modal_button:hover{
    text-decoration: underline
}

.add_list_modal_button:disabled{
    color:rgb(187, 187, 187)
}

.add_list_modal_button:disabled:hover{
    text-decoration: none;
}