.right_pannel_no_task_selected_text{
    position:absolute;
    background-color:#e7e7e7;
    color:rgb(117, 117, 117);
    font-size:13px;
    top:20%;
    right:30px;
    width: calc(55% / 2 - 100px);
    padding:20px;
    text-align:center;
    line-height:30px;
}

.right_pannel_container{
    height:80%;
    background-color:white;
    position:absolute;
    right:0;
    width:calc(55% / 2 - 50px);
    -webkit-box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    -moz-box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    box-shadow: 0px 0px 63px 0px rgba(82,82,82,0.38);
    z-index:11;
    transition: 0.5s;
    transform: translate(100%);
    bottom:0;
}

.right_pannel_colored_top_bar{
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    height:50px;
    width:100%;
    display:block;
}

.right_pannel_title{
    font-size:15px;
    font-weight:bold;
    color:rgb(53, 53, 53);
    margin-left:50px;
    margin-top:30px;
    margin-bottom:10px;
    position:relative;
}

.right_pannel_title::before{
    content:"";
    width:20px;
    height:20px;
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    position:absolute;
    left:0;
    transform: translate(-30px);
    border-radius:5px;
    top:-1px;
}

.right_pannel_text{
    font-size:12px;
    color:rgb(100, 100, 100);
    margin-left:50px;
    margin-bottom:30px;
    font-weight:bold;
    position: relative;
    word-break: break-all;
    padding-right:20px;
}

.right_pannel_pen_icon,.right_pannel_check_icon,.right_pannel_description_icon{
    position:absolute;
    left:0;
    transform: translate(-30px);
    width:15px;
    top:-1px;
}

.right_pannel_buttons_container{
    position:absolute;
    bottom:50px;
    width:100%;
    text-align: center;
}

.right_pannel_button{
    background-image: linear-gradient(to right, #b32337, #bc3337, #c54136, #cd4f36, #d55c36);
    padding:10px;
    width:90%;
    color:white;
    box-shadow:  0px 0px 20px 0px rgba(32, 32, 32, 0.28);
    font-weight:bold;
    font-size:12px;
    border-radius: 5px;
    cursor: pointer;
    z-index:15;
    border:none;
}

.right_pannel_button:nth-child(1){
    margin-bottom:15px;
}