@import 'components/dashboard_center_pannel.css';
@import 'components/dashboard_add_task_modal.css';
@import 'components/dashboard_left_pannel.css';
@import 'components/dashboard_add_list_modal.css';
@import 'components/dashboard_delete_list_modal.css';
@import 'components/dashboard_right_pannel.css';
@import 'components/accueil.css';

.body_grey_background{
    height:20%;
    background-color:#f4f4f4;
    width:100%;
    z-index:1;
    position: absolute;
    bottom:0;
}

.body_backround_girl{
    width:200px;
    position:absolute;
    left:50px;
    bottom:80%;
}

.body_background_boy{
    width:200px;
    position:absolute;
    right:50px;
    bottom:60%;
}

body{
    overflow: hidden;
}

.dashboard_logo{
    margin-top:20px;
    margin-left:20px;
}